
@media (min-width: 576px) {  

}

@media (min-width: 768px) {  

}

@media (min-width: 992px) {  
    .logo {
        height: 100px;
    }

    header {
        width: 350px;
        transform: translateY(0%);

        &:has(label):has(:checked) {
            transform: translateY(0%);
        }

        label {
            display: none;
        }

        div {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden;

            img {
                order: -1;
                margin-bottom: 30px;
            }
        }

        nav {
            position: relative;
            overflow-y: scroll;

            &::before {
                content: "";
                position: fixed;
                bottom: 20px;
                right: 20px;
                width: 50px;
                height: 17px;
                background-image: url("../img/arrow-down.svg");
                background-repeat: no-repeat;
                background-size: contain;
                animation: arrow 2s infinite;
            }
            
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@keyframes arrow {
    0% {
        transform:translateY(0);
    }

    50% {
        transform:translateY(-20px);
    }

    100% {
        transform:translateY(0px);
    }
}