@import './variables.css';
@import './no-js.css';
@import './header.css';
@import './title-animation.css';
@import './tooltips.css';
@import './introtext.css';
@import './breakpoints.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-stack);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.speakerSection{
    transition: transform 0.3s ease-in-out;
    transform-origin:top;
}

.buttonSection{
    button{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 1.5rem;
        height: 3rem;
        width: 3rem;
        background-color: #000;
        border:none;
        border-radius: 0.5rem;
    img{
        height: 2rem;
    }
    &&:first-of-type{
        bottom:10rem;
    }
    &&:nth-of-type(2){
        bottom:6rem;
    }
    &&:active{
        transition: 0.1s;
        opacity: 0.7;
    }
    }
}

.kaart {
    width: 1920px;
    height: 1066px;
}

.bg-color {
    background-image: linear-gradient(to right, #ff0000 0 10%, #000080 10% 20%, #6b8e23 20% 30%, #ff69b4 30% 40%, #daa520 40% 50%, #ff6347 50% 60%, #00bfff 60% 70%, #3cb371 70% 80%, #9932cc 80% 90%, #cd853f 90% 100%);
}

.none {
    display: none;
}