@import "./variables.css";
@import "./header.css";
@import "./section.css";
@import "./title-animation.css";
@import "./breakpoints.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: blue;
    font-family: var(--font-stack);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.test {
    width: 500px;
    height: 500px;
    overflow: auto;

    img {
        width: 2000px;
        height: 2000px;

        /* overflow: hidden; */

    }
}

main {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.kaart {
    width: 1920px;
    height: 1066px;
}