.introContainer {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    right: -21em;
    /* top: 1em; */
    margin: 1em;
    /* align-items: center; */

    transition: 1s;
    z-index: 1;

    input {
        opacity: 0;
    }

    label {
        background-color: white;
        outline: solid 1px black;
        background-image: url(../img/arrow-down.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        transform: rotate(90deg);
        color: white;
        display: flex;
        width: 2em;
        height: 2em;
        margin: 0 1em 1em 0;
        border-radius: 100%;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            background-color: #ccc;
        }

        &:has(input:focus-visible) {
            outline: solid 6px lime;
        }
    }

    &:has(input:checked) {
        right: 0;

        .introText {
            opacity: 1;
        }

        label {
            transform: rotate(-90deg);
        }
    }

    .introText {
        background-color: white;
        max-width: 20em;
        padding: 1em;
        opacity: 0;
        border-radius: 6px;
        outline: solid black 3px;
        transition: 1s;
        z-index: 200;
    }
}
