:root {
    --white: white;
    --gray: #cccccc;
    --font-stack: 'Source Code Pro', monospace;

    --n: 20;

    /* country flags */
    --US: url('../assets/flags/us.svg');
    --ES: url('../assets/flags/es.svg');
    --NL: url('../assets/flags/nl.svg');
    --CA: url('../assets/flags/ca.svg');
    --DE: url('../assets/flags/de.svg');
    --UK: url('../assets/flags/uk.svg');
    --FR: url('../assets/flags/fr.svg');
    --LB: url('../assets/flags/lb.svg');
    --AT: url('../assets/flags/at.svg');
    --PT: url('../assets/flags/pt.svg');
    --IL: url('../assets/flags/il.svg');
    --SE: url('../assets/flags/se.svg');
    --LU: url('../assets/flags/lu.svg');
    --JP: url('../assets/flags/jp.svg');
    --NO: url('../assets/flags/no.svg');
    --NG: url('../assets/flags/ng.svg');
    --GR: url('../assets/flags/gr.svg');
}
