:root {
    --white: white;
    --black: black;
    --purple: #33184d;
    --gray: #cccccc;
    --gray-rgb: 204, 204, 204;
    --font-stack: "Source Code Pro", monospace;

    --btn-2013: white;
    --btn-2014: white;
    --btn-2015: white;
    --btn-2016: white;
    --btn-2017: white;
    --btn-2018: white;
    --btn-2019: white;
    --btn-2022: white;
    --btn-2023: white;
    --btn-2024: white;
}