:root {
    --background-color: #cccc;

    --tooltip-outline-color: #000;

    --zoom-in-button-color: rgba(51, 24, 77, 1);
    --zoom-out-button-color: rgba(51, 24, 77, 0.5);

    --zoom-in-cursor: pointer;
    --zoom-out-cursor: not-allowed;


    --white: white;
    --black: black;
    --black-2: #232323;
    --purple: #33184d;
    --gray: #cccccc;
    --font-stack: 'Source Code Pro', monospace;

    /* country flags */
    --US: url('../assets/flags/us.svg');
    --ES: url('../assets/flags/es.svg');
    --NL: url('../assets/flags/nl.svg');
    --CA: url('../assets/flags/ca.svg');
    --DE: url('../assets/flags/de.svg');
    --UK: url('../assets/flags/uk.svg');
    --FR: url('../assets/flags/fr.svg');
    --LB: url('../assets/flags/lb.svg');
    --AT: url('../assets/flags/at.svg');
    --PT: url('../assets/flags/pt.svg');
    --IL: url('../assets/flags/il.svg');
    --SE: url('../assets/flags/se.svg');
    --LU: url('../assets/flags/lu.svg');
    --JP: url('../assets/flags/jp.svg');
    --NO: url('../assets/flags/no.svg');
    --NG: url('../assets/flags/ng.svg');
    --GR: url('../assets/flags/gr.svg');
    --RO: url('../assets/flags/ro.svg');
    --SG: url('../assets/flags/sg.svg');
    --BE: url('../assets/flags/be.svg');

    --gray-rgb: 204, 204, 204;
    --font-stack: "Source Code Pro", monospace;

    --btn-2013: white;
    --btn-2014: white;
    --btn-2015: white;
    --btn-2016: white;
    --btn-2017: white;
    --btn-2018: white;
    --btn-2019: white;
    --btn-2022: white;
    --btn-2023: white;
    --btn-2024: white;
}
